<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/error.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>

    <main class="error-page">
      <h1>SIGN-UP PAGE</h1>
    </main>

    <%- include('../includes/end.ejs') %>