<footer>
  <p>NKeeper</p>
  <p>
    <a class="footer-content" href="https://www.sahle-alturaigi.com/" target="_blank">Creator's page</a> - last updated: June 9th, 2022 
  </p>
</footer>

</body>
</html>