<footer>
  <p>NKeeper</p>
  <p>
    <a class="footer-content" href="https://www.sahle-alturaigi.com/" target="_blank">Creator's page</a> - last updated: May 29th, 2023 
  </p>
</footer>

</body>
</html>