<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/">Dashboard</a></li>
      <li class="main-header__item"><a href="/">Search</a></li>
    </ul>
  </nav>
  <div class="main-header__logo">
    NKeeper LOGO
  </div>
</header>