<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item"><a href="/dashboard">Dashboard</a></li>
      <li class="main-header__item"><a href="/search">Search</a></li>
      <li class="main-header__item"><a href="/newContact">New</a></li>
      <li class="main-header__item"><a href="/main/profile">TEST PROFILE</a></li>
    </ul>
  </nav>
  <div class="main-header__rhs">
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
      <li class="main-header__item"><a href="/signup">Sign-up</a></li>
      <li class="main-header__item"><a href="/login">Login</a></li>
      <% } else { %>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <%# Add anti-CSRF tokens here %>
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </div>
</header>