<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/profile.css">
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
    <main>
      <section class="image-carousel">
        <img src="https://cdn.vox-cdn.com/thumbor/PjZOLcFllU-dkuD2XdaKpeY33U8=/0x0:2000x1334/920x613/filters:focal(744x446:1064x766):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/55825803/hey_arnold_main.0.jpg" alt="DUMMY IMAGE">
        <img src="https://www.nme.com/wp-content/uploads/2017/10/Hey-Arnold-movie-696x442.png" alt="DUMMY IMAGE">
        <img src="https://static0.thethingsimages.com/wordpress/wp-content/uploads/2021/04/Hey-arnold-cast.jpg?q=50&fit=contain&w=960&h=500&dpr=1.5" alt="DUMMY IMAGE">
      </section>

      <section class="profile-content">
        <h1>TEST CONTENT</h1>
      </section>
    </main>

    <%- include('../includes/end.ejs') %>